/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 38px;
    line-height: 1.4;
    background-color: #fefefe;
}

/* structure */

.content {
  max-width: 1000px;
  padding: 100px 30px;
  margin: auto;
  font-weight: 300;
}

.content p {
  margin-bottom: 80px;
  position: relative;
}

/* typography */

.allcaps {
  font-size: 37px;
  letter-spacing: 2px;
}

/* first paragraph - hovers */

.tiny{
  font-style: bold;
  transition: all 3s ease-in-out;
}

.tiny:hover {
  cursor: pointer;
  font-size: 0em;
}

.pink{
    font-style: bold;
     background: black
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: all 0.8s ease;
}
.pink:hover {
  background: -webkit-radial-gradient(#FF8FB4, #FFC2D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.yellow {
     font-style: bold;
     background: black
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: all 0.8s ease;
}
.yellow:hover {
  background: -webkit-radial-gradient(#FFDC16, #FFCB5C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.brown {
     font-style: bold;
     background: black
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: all 0.8s ease;
}
.brown:hover {
  background: -webkit-radial-gradient(#70561E, #272319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.eraser {
  cursor: url(../imgs/eraser.ico), auto;
}

